#include <tchar.h>
#include <windows.h>
#include "resource.h"

#define VER_FILEVERSION 1,7,9,0
#define VER_FILEVERSION_STR "1,7,9,0\0"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION		VER_FILEVERSION
    PRODUCTVERSION	VER_FILEVERSION
    FILEOS		VOS_NT_WINDOWS32
    FILETYPE		VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
	BLOCK "040404b0" // LANG_ENGLISH/SUBLANG_ENGLISH_UK, Unicode CP
	BEGIN
	    VALUE "FileDescription",  "免安裝的行列三十輸入法\0"
	    VALUE "Author", "Danilo Raynor\0"
	    VALUE "FileVersion", VER_FILEVERSION_STR
	    VALUE "ProductName", "Array30Ex\0"
	    VALUE "ProductVersion", VER_FILEVERSION_STR
	END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x404, 1200
    END
END

AR30 ICON ar30.ico

NPAGEUP BITMAP npageuph.bmp
NPAGEDN BITMAP npagednh.bmp
PAGEUP  BITMAP pageuph.bmp
PAGEDN  BITMAP pagednh.bmp

STRINGTABLE
BEGIN
IDS_arModeMsg,	"行列" 
IDS_enModeMsg,	"英數"
IDS_halfMsg,    "半"
IDS_fullMsg,   	"全"
IDS_fontName,	"新細明體"
END

POPMENU MENU DISCARDABLE
BEGIN
 POPUP "MyMenu"
 BEGIN
 MENUITEM  "隱藏視窗",   MENU_HIDE
 MENUITEM  "顯示視窗",   MENU_SHOW
 POPUP  "設定視窗透明度"
	BEGIN
 		MENUITEM  "不透明",   MENU_OPA10
 		MENUITEM SEPARATOR
 		MENUITEM  "90%",   MENU_OPA09
 		MENUITEM  "80%",   MENU_OPA08
 		MENUITEM  "70%",   MENU_OPA07
 		MENUITEM  "60%",   MENU_OPA06
 		MENUITEM  "50%",   MENU_OPA05
 		MENUITEM  "40%",   MENU_OPA04
 		MENUITEM  "30%",   MENU_OPA03
 		MENUITEM  "20%",   MENU_OPA02
 		MENUITEM  "10%",   MENU_OPA01
	END
 MENUITEM SEPARATOR
 MENUITEM  "設定",   MENU_SETTING
 POPUP  "顯示 Unicode 碼"
	BEGIN
		MENUITEM  "不顯示",   MENU_SHOWNO
		MENUITEM  "顯示 Unicode 碼",   MENU_SHOWUNI
	END
 MENUITEM SEPARATOR
 MENUITEM "離開(&E)", MENU_EXIT
 END
END

SETDIALOG DIALOG DISCARDABLE  20, 40, 211, 187
STYLE DS_MODALFRAME | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "設定"
FONT 12, "新細明體"
BEGIN
	CONTROL "送字",   IDC_GROUP1, "BUTTON", BS_GROUPBOX | WS_VISIBLE, 14, 12, 185, 70
	CONTROL "WM_IME_CHAR", IDC_RADIO1, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 36, 28, 125, 10
	CONTROL "剪貼簿 SHIFT+INSERT",   IDC_RADIO2, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 36, 41, 150, 10
	CONTROL "剪貼簿 CTRL+V",   IDC_RADIO3, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 36, 54, 150, 10
	CONTROL "啟動自動切換功能",   IDC_CHECK1, "BUTTON", BS_AUTOCHECKBOX | WS_TABSTOP, 36, 68, 150, 10
	CONTROL "繁簡轉換", IDC_GROUP2, "BUTTON", BS_GROUPBOX | WS_VISIBLE, 14, 90, 185, 63
	CONTROL "不轉換", IDC_RADIO4, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 36, 106, 145, 10
	CONTROL "繁體中文轉簡體中文", IDC_RADIO5, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 36, 121, 152, 10
	CONTROL "簡體中文轉繁體中文", IDC_RADIO6, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 36, 136, 155, 10
	CONTROL "確定",     IDOK, "BUTTON", BS_PUSHBUTTON | WS_VISIBLE | WS_TABSTOP, 169, 161, 40, 14
END

